.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 47px;
  text-align: center;
  height: 100vh;
  box-sizing: border-box; }
  .containerHome .content {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-between; }
    .containerHome .content p {
      margin: 0; }
    .containerHome .content img {
      max-width: 167px;
      height: 56px; }
    .containerHome .content .actions .btn {
      height: 54px;
      color: red !important; }

@media screen and (min-width: 1024px) {
  .containerHome .content {
    width: 400px; } }
