.containerHome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 47px;
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  .content{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-between;
    p{
      margin: 0;
    }
    img{
      max-width: 167px;
      height: 56px;
      // margin-bottom: 64px;
    }
    .actions{
      // margin-top: 90px;
      .btn{
        height: 54px;
        color: red !important;
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  .containerHome{
    .content{
      width: 400px;
    }
  }
}
