.product{
  display: flex;
  flex: 1;
  background-position: center;
  height: 230px;
  padding: 5px;
  align-items: flex-end;
  
  .product-info{
    background-color: rgba($color: #A4C0B9, $alpha: 0.8);
    box-sizing: border-box;
    color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 60px;
    padding: 8px 60px 8px 8px; 
    position: relative;
    width: 100%;
    .product-title, .product-desc{
      flex: 1;
    }
    .product-title{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // width: 270px;
      width: 80%;
    }
    .product-desc{
      font-size: 13px;
    }
    &:after{
      content: '>';
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 22px;
    }
  }
}